<div class="container mt-5">
  <h1 class="text-center title  ">Sistema de Gestión de Adquisiciones</h1>
</div>


<div class="container mt-5">
  <!-- Encabezado de la tabla -->
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2 class="mb-0">Adquisiciones</h2>
    <button class="btn btn-primary">
      <i class="bi bi-plus"></i> Agregar Adquisición
    </button>
  </div>

  <!-- Tabla -->
  <table class="table table-bordered">
    <thead>
      <tr style="background-color: #5068b2;">
        <th>ID</th>
        <th>Nombre</th>
        <th>Fecha</th>
        <th>Monto</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Adquisición 1</td>
        <td>2023-10-01</td>
        <td>$1000</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Adquisición 2</td>
        <td>2023-10-02</td>
        <td>$2000</td>
      </tr>
      <!-- Agrega más filas según sea necesario -->
    </tbody>
  </table>
</div>
