.title {
  color: #283557;
}

/* Estilos para el encabezado de la tabla */
.table thead th {
  background-color: #5068b2;
  color: white;
  text-align: center;
}

/* Estilos para el botón */
.btn-primary {
  background-color: #7be3e6;
  border-color: #7be3e6;
  color:#283557;
}

.btn-primary:hover {
  background-color: #0ed7b1;
  border-color: #0ed7b1;

}

.action{
  align-items: center;
}

/* Estilos para el modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 62%;
  border-radius: 5px;
}

