<div class="container mt-5">
  <h1 class="text-center title  ">Sistema de Gestión de Adquisiciones</h1>
</div>


<div class="container mt-5">
  <!-- Sección del título y el botón -->
  <div class="title-section" style="background-color: #283557; padding: 15px; border-radius: 5px;">
    <div class="d-flex justify-content-between align-items-center">
      <h2 class="mb-0" style="color: white;">Adquisiciones</h2>
      <button class="btn btn-primary" (click)="abrirModal()">
        <i class="bi bi-plus"></i> Agregar Adquisición
      </button>
    </div>
  </div>

  <!-- Tabla -->
  <table class="table table-bordered">
    <thead>
      <tr style="background-color: #5068b2; color: white;">
        <th>Presupuesto</th>
        <th>Unidad</th>
        <th>Tipo de Bien / Servicio</th>
        <th>Cantidad</th>
        <th>Valor unitario</th>
        <th>Valor total</th>
        <th>Fecha Adquisición</th>
        <th>Proveedor</th>
        <th>Documentacion</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      @for(adquisicion of adquisiciones; track adquisicion.id){
      <tr>
        <td>{{ adquisicion.presupuesto }}</td>
        <td>{{ adquisicion.unidad }}</td>
        <td>{{ adquisicion.tipoDeBien }}</td>
        <td>{{ adquisicion.cantidad }}</td>
        <td>{{ adquisicion.valorUnitario }}</td>
        <td>{{ adquisicion.valorTotal }}</td>
        <td>{{ adquisicion.fechaAdquisicion }}</td>
        <td>{{ adquisicion.proveedor }}</td>
        <td>{{ adquisicion.documentacion }}</td>
        <td>{{ adquisicion.activo }}</td>
        <td>
          <button class="btn btn-sm btn-warning me-2 action" (click)="abrirModal(adquisicion)" title="Editar">
            <i class="bi bi-pencil"></i>
          </button>
          <button class="btn btn-sm btn-info me-2 action" title="Ver Historial" (click)="abrirHistorial(adquisicion.id)">
            <i class="bi bi-clock-history"></i>
          </button>
          <button class="btn btn-sm btn-danger me-2 action" title="Eliminar" (click)="eliminarAdquisicion(adquisicion)">
            <i class="bi bi-trash"></i>
          </button>
      </tr>
      }
      <!-- Agrega más filas según sea necesario -->
    </tbody>
  </table>
</div>

<div id="agregarAdquisicionModal" class="modal" style="display: none;">
  <div class="modal-content">
    <agregar-adquisicion-modal [adquisicionEditada]="adquisicionEditada" (adquisicionAgregada)="actualizarTabla()">
    </agregar-adquisicion-modal>
  </div>
</div>

<historial-modal
></historial-modal>

