.mb-3 {
  margin-bottom: 0.3rem !important;
}

.modal-header {
  padding: 1%;
  color: #283557;
}

.modal-body{
  padding: 2%;
  color: #283557;
}

.form-label {
  margin-bottom: .3rem;
  font-size: 75%;
  font-weight: bold;
}

.form-control{
  padding: .3rem .75rem;
  font-size: small;
  border-color:#5068b2;
}

.form-select {
  padding: .3rem .75rem;
  font-size: small;
  border-color:#5068b2;
}

.prefix {
  margin-right: -10px;
  position: absolute;
}

.dolar:before {
  content: '$';
  position: absolute;
  top: 0;
  left: 40px;
  z-index: 1;
}

.btn-cerrar {
  background-color: #5068b2; /* Fondo azul */
  color: white; /* Letras blancas */
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-weight: bold;
}

.btn-cerrar:hover {
  background-color: #405080; /* Efecto hover */
}

.btn-agregar {
  background-color: #0ed7b1; /* Fondo verde azulado */
  color: white; /* Letras blancas */
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-weight: bold;
}

.btn-agregar:hover {
  background-color: #0cbba9; /* Efecto hover */
}
